.icon-search {
  font-size: 18px;
  height: 100%;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  padding: 0 10px;
}

.city {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  padding: 10px;
  color: #333333;
  font-weight: 300;
}

.guest {
  padding: 10px;
  color: #BDBDBD;
  cursor: pointer;
}

.border {
  border: 1px solid #c0bebe;
}