.border {
  border: 1px solid #cccbcb;
  border-radius: 16px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.button-search {
  font-size: 14px;
  background-color: #EB5757;
  font-style: normal;
  color: #F2F2F2;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  border: none;
  padding: 16px 25px;
}